<div class="card">
  <h1 class="heading">Set New Password</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <div class="space-y-4 mt-6">
      <div>
        <%= f.label :password, class: "block mb-1" %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "New password", class: "input" %>
      </div>

      <div>
        <%= f.label :password_confirmation, class: "block mb-1" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm new password", class: "input" %>
      </div>

      <%= f.submit "Change Password", class: "btn" %>
    </div>
  <% end %>

  <div class="mt-4 text-center">
    <%= link_to "Back to Log in", new_session_path(resource_name), class: "link" %>
  </div>
</div>
