<div class="card">
  <h1 class="heading mb-1">Log In</h1>
  <p class="subheading mb-3">Access your account to schedule posts</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="space-y-4 mt-4">
      <div>
        <%= f.label :email, "Email Address", class: "block mb-1 text-sm" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your email", class: "input w-[90%] mx-auto" %>
      </div>

      <div>
        <%= f.label :password, class: "block mb-1 text-sm" %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Enter your password", class: "input w-[90%] mx-auto" %>
      </div>

      <div class="flex items-center justify-center">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "Remember me", class: "ml-2 text-sm" %>
      </div>

      <div>
        <%= f.submit "Log In", class: "btn w-[90%] mx-auto" %>
      </div>
    </div>
  <% end %>

  <div class="mt-4 flex justify-between text-sm">
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "link" %>
    <%= link_to "Sign up here", new_registration_path(resource_name), class: "link" %>
  </div>
  <div class="mt-6 text-center">
    <%= link_to "Sign in with LinkedIn", user_linkedin_omniauth_authorize_path, class: "btn bg-blue-600 hover:bg-blue-700" %>
  </div>

</div>
